#playerstats {
    padding: 5px;
    width: 222px;
    height: 222px;
    background-color: #24303E;
    border: 0px solid #333;
  }
  
  #stattable {
    border: 0px solid #333;
    background-color: #24303E;
  }